$primary-color: #1da1f2; // Twitter main blue
$secondary-color: #1B95E0; // light Twitter blue
$tertiary-color: #8899a6; // Twitter grey
$white: #fff;
$primary-font: 'Helvetica';

/*  GENERAL NODE STYLING */
body {
  font-family: $primary-font;
}

h1 {
  color: $primary-color;
  letter-spacing: 1px;
}

p {
  color: $tertiary-color;
  letter-spacing: 1px;
}

input {
  display: block;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  margin: 80px auto;
  font-size: 16px;
  color: $tertiary-color;
  border: 1px solid $secondary-color;
  letter-spacing: 1px;
}

button {
  width: 100%;
  border: none;
  background: $primary-color;
  padding: 20px;
  font-family: $primary-font;
  font-size: 20px;
  color: $white;
  letter-spacing: 1px;
  box-shadow: .2em .2em 1.5em #ccc;
  cursor: pointer;
  transition: background 0.5s ease;

  &:hover {
    background: $white;
    color: $primary-color;
  }
}

/* WIDTHS */

.fifty-percent-width {
  width: 50%;
  margin: 0 auto;

  @media only screen and ( max-width: 767px ) {
    width: 100%;
  }
}

/*  CONTAINERS */

.container {
  display: block;
  // padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.index-container {
  // background: $primary-color;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;

  .fa-twitter {
    color: $white;
  }

  h1 {
    color: $white;
    font-size: 50px;
    letter-spacing: 4px;
  }

  .index-presentation-subtext {
    margin-bottom: 70px;

    p {
      color: $white;
      font-size: 20px;
    }
  }

  button {
    background: $white;
    color: $primary-color;
    cursor: pointer;
    letter-spacing: 1px;
    transition: box-shadow 0.5s ease;

    &:hover {
      box-shadow: .2em .2em 1.5em $white;;
    }
  }
}

.header-container {
  margin-top: 110px;
}

.children-container {
  height: 50vh;
}

.inputs-container {
  display: block;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 80px;
}

.button-container {
  display: block;
  width: 75%;
  margin: 0 auto;
}

.lists-container {
  width: 75%;
  margin: 0 auto;

  @media only screen and ( max-width: 767px ) {
    width: 100%;
  }
}

.individual-list-container {
  display: inline-block;
  width: 49%;
  vertical-align: top;

  h1 {
    @media only screen and ( max-width: 500px ) {
      font-size: 18px;
    }
  }
}

.individual-friend-container {
  p {
    a {
      color: $tertiary-color;
      text-decoration: none;
      border: none;
      transition: border 0.5s ease;
      @media only screen and ( max-width: 500px ) {
        font-size: 14px;
      }

      &:hover {
        border-bottom: 1px solid $tertiary-color;
      }
    }
  }
}

/* BACKGROUNDS */

.white-bg {
  background: $white;
}

/* ALIGNMENT */

.center-text {
  text-align: center;
}

/*  ICONS */

.fa-twitter {
  color: $primary-color;
}

.fa-circle-o-notch {
  margin-top: 100px;
  color: $primary-color;
}

/* BANNER */

.banner {
  text-align: left;

  .banner-left {
    display: inline-block;

    i {
      display: inline-block;
    }

    p {
      display: inline-block;
      margin-left: 10px;
    }
  }

  .banner-right {
    display: inline-block;
    float: right;
    text-align: right;

    p {
      display: block;
      margin-bottom: 0px;

      a {
        text-decoration: none;
        color: $primary-color;
        transition: color 0.5s ease;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

/* ANIMATIONS */

.fade-in {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}

// Fade in keyframes
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
